{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Kodland — Главная</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "">
				<img src = "{% static "img/Logo.png" %}">
				<span>Блог</span>
			</a>
			<a href="{% url 'new_post' %}">
				<button>+ Добавить статью</button>
			</a>
		</div>
	</header>
	<section class = new_entry>
		<img src="{{ last_enrty.photo.url}}">
		<p id="new">NEW</p>
		<h3>{{ last_enrty.title }}</h3>
		<p>{{ last_enrty.short_text }}</p>
		<a href='{% url "post_detail" pk=last_enrty.pk %}'><button>Читать</button></a>
	</section>
	<section class="another_entry">
		<h4>Другие статьи</h4>
		<div class="all_entries">
			{% for entry in entries %}
			{% if entry !=  last_enrty%}
			<div id = "entry">
				<a href = '{% url "post_detail" pk=entry.pk %}'>
					<p>{{ entry.pubdate }}</p>
					<img src="{{ entry.photo.url}}">
					<p>{{ entry.title }}</p>
				</a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</section>
</body>
</html>