{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Kodland — Создать статью</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/new_post_style.css" %}">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "{% url 'index' %}">
				<img src = "{% static "img/Logo.png" %}">
				<span>Блог</span>
			</a>
			<a href="{% url 'new_post' %}">
				<button>+ Добавить статью</button>
			</a>
		</div>
	</header>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<input type = "submit" value = "Опубликовать"><br>
		{{form.title}}
		{{form.media}}
		{{form.text}}
		{{form.photo}}
	</form>
</body>
</html>