{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Kodland — Создать статью</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "css/new_post_style.css" %}">
</head>
<body>
	<header>
		<div id = "logo">
			<a href = "{% url 'index' %}">
				<img src = "{% static "img/Logo.png" %}">
				<span>Блог</span>
			</a>
			<a href="{% url 'new_post' %}">
				<button>+ Добавить статью</button>
			</a>
		</div>
	</header>
	<h3>Добавить статью</h3>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<p id = 'form_1'>{{form.title}}</p>
		<button type = "submit">Опубликовать</button><br>
		<div id = 'form_3'>{{form.media}}{{form.text}}</div>
		<div id = "choose_photo">
			<button id = 'form_2'><span>Выбирите фото</span>{{form.photo}}</button>
			<img id = "blah" src="#" alt = ''>
		</div>
	</form>
</body>
	<script>
		function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();

		    reader.onload = function(e) {
		      $('#blah').attr('src', e.target.result);
		    }

		    reader.readAsDataURL(input.files[0]);
		  }
		}

		$("input[type=file]").change(function() {
		  readURL(this);
		});
	</script>
</html>